
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #595a56b2;
}

header {
    background-color: #000000;
    color: #ffffffd8;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #998080;
    box-shadow: 0 0 10px rgb(175, 106, 3);
}

.photo-space {
    text-align: center;
    margin: 20px 0;
}

.photo-space img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.rodapesuper{
    background-color: #b82424;

    height: 5ph;
}
